@import "./null.scss";
@import "./normalize.scss";
@import "./vars.scss";

body {
	// background-color: var(--color-white);
	// color: var(--font-color);
	background-color: #212121;
	color: #fff;
	font-family: var(--font-family);
	font-size: var(--text-lh-12);
	font-weight: var(--text-regular);
}

.wrapper {
	background-color: #333333;
	margin: 0 auto;
	height: 100%;
	max-width: 1300px;
}