@import "./null.scss";
@import "./normalize.scss";
@import "./vars.scss";

body {
	background-color: $colorWhite;
	color: $fontColor;
	// background-color: #4a4949;
	font-family: $fontFamily;
	font-size: $textLh12;
	font-weight: $textRegular;
}
.main {
	max-width: 1300px;
	height: 100%;
	margin: 0 auto;
}

.wrapper {
	height: 100%;
}
