@import "/src/app/styles/vars";

.auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	// .{style.auth__container}
	&__container {
		box-shadow: $blurShadow;
		border-radius: 10px;
		padding: 50px 55px 55px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .{style.auth__form}
	&__form {
		min-width: 400px;
		margin-top: 50px;
		margin-bottom: 20px;
	}
	// .registration__info
	&__info {
		color: $colorGray;
		font-size: $textLh14;
		& a {
			transition: $transition;
			font-weight: $textSemibold;
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
