@import "/src/app/styles/vars";

.input {
	margin-bottom: 5px;
	height: 90px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	& label {
		margin-left: 10px;
		color: $colorGray;
	}
}
.errors {
	margin-left: 10px;
	color: $colorRed;
	font-size: $textLh10;
}

.block {
	display: flex;
	border: 1px solid $colorLightGray;
	border-radius: 5px;
	height: 40px;
	& input {
		border-radius: 5px;
		padding: 0 5px;
		width: 100%;
	}
	&:focus-within {
		border: 1px solid $colorGray;
		& img {
			opacity: 1;
		}
	}
	& img {
		opacity: 0.5;
	}
	& button {
		margin-right: 5px;
	}
}
