@import "/src/app/styles/vars";

.content {
	padding: 11px;
	justify-items: center;
	border: solid 1px $colorLightGray;
	border-radius: 10px;
	height: 100%;
	overflow: auto;
}

.items {
	min-height: 30px;
	border: 1px solid $colorLightGray;
	margin-bottom: 7px;
	border-radius: 5px;
	padding: 5px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& li {
		text-align: left;
		min-width: 150px;
	}
}
