@import "/src/app/styles/vars";

.question {
	border: 1px solid $colorLightGray;
	border-radius: 5px;
	height: 150px;
	width: 100%;
	padding: 10px 5px;
	margin-bottom: 10px;
	resize: none;
	&::placeholder {
		color: $colorLightGray;
	}
}
