@import "/src/app/styles/vars";

.button {
	color: $colorLightBlue;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	transition: $transition;
	font-size: $textLh12;
	min-height: 25px;
	min-width: 139px;
	border: 1px solid $colorLightBlue;
	&:hover {
		border: 1px solid $colorBlue;
		color: $colorBlue;
	}
}
