@import "/src/app/styles/vars";

.tabs {
	border-radius: 10px;
	border: solid 1px $colorLightGray;
}

.tabsBtn {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-size: $textLh14;
	color: $colorLightBlue;

	button {
		min-height: 39px;
		transition: $transition;
		border-right: 1px solid $colorLightGray;
		border-bottom: 1px solid $colorLightGray;
		border-radius: 10px 0 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&.active {
			color: $colorBlue;
			border-bottom: none;
		}

		&:last-child {
			border-right: none;
		}

		span {
			position: absolute;
			right: 10px;

			&:hover {
				img {
					content: url("/public/assets/plus-circle-hover.svg");
				}
			}
		}

		&:hover {
			color: $colorBlue;
		}
	}
}

.tabsContainer {
	padding: 15px 11px;
}

.myInterviews__filters {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	justify-items: center;
	min-height: 32px;
}

.myInterviews__content {
	padding: 11px;
	justify-items: center;
	border: solid 1px $colorLightGray;
	border-radius: 5px;
	height: 567px;
}
.myInterviews__items {
	display: grid;
	padding: 11px;
	grid-template-columns: repeat(7, 1fr);
	justify-items: center;
	border: solid 1px $colorLightGray;
	width: 99%;
	background-color: #fff;
	margin: 0 auto;
}

.back {
	border-radius: 5px;
	background-color: $colorBlue;
}
