@import "../../app/styles/vars.scss";

.interview {
	display: flex;
	gap: 0 20px;
	height: 90%;
}

.items {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	overflow: scroll;
	flex: 1 1 auto;
	padding-bottom: 20px;
	padding-right: 10px;
}

.content {
	padding: 20px 20px 10px;
	width: 100%;
	border: 1px solid $colorLightGray;
	margin-bottom: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.stack {
	color: $colorGray;
}

.searchBar {
	border: 1px solid $colorLightGray;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	min-width: 330px;
	overflow: auto;
}

.search {
	border-radius: 5px;
	border: 1px solid $colorLightGray;
	display: flex;
	align-items: center;
	padding: 5px;
	margin-bottom: 20px;
	input {
		background-color: inherit;
		width: 100%;
		&::placeholder {
			color: $colorLightGray;
		}
	}
}

.searchIcon {
	color: $colorLightGray;
}

.questionItem {
	padding: 10px;
	border: 1px solid $colorLightGray;
	border-radius: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	cursor: pointer;
	transition: $transition;
	&:hover {
		box-shadow: $blurShadow;
	}
}

.item {
	display: flex;
	column-gap: 40px;
}

.rating {
	margin-right: 100px;
}

.textarea {
	width: 390px;
	height: 90px;
	background-color: inherit;
	border: 1px solid $colorLightGray;
	border-radius: 5px;
	resize: none;
	padding: 10px 15px;
	&::placeholder {
		color: $colorLightGray;
	}
}

.body {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	margin-top: 10px;
}

.answer {
	max-width: 400px;
	max-height: 100px;
	overflow: scroll;
}

.feedback {
	display: flex;
	justify-content: space-between;
	align-items: end;
	border-top: 1px solid $colorLightGray;
	padding-top: 10px;
	&__text {
		background: inherit;
		resize: none;
		max-height: 50px;
		width: 100%;
		margin-right: 20px;
		&::placeholder {
			color: $colorLightGray;
		}
	}
}
