@import "../../app/styles/vars.scss";

.interview {
	display: flex;
	gap: 0 20px;
	height: 100%;
}

.items {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.accordeon {
	border: 1px solid $colorGray;
	border-radius: 5px;
}

.content {
	padding: 20px;
	width: 100%;
	border: 1px solid $colorGray;
	margin-bottom: 20px;
	border-radius: 5px;
}

.header {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $colorGray;
}
