@import "/src/app/styles/vars";

.button {
	color: $colorLightGreen;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	transition: $transition;
	font-size: $textLh12;
	min-height: 25px;
	min-width: 139px;
	border: 1px solid $colorLightGreen;
	&:hover {
		border: 1px solid $colorGreen;
		color: $colorGreen;
	}
}
.disabled {
	cursor: not-allowed;
	color: $colorLightGray;
	border: 1px solid $colorLightGray;
	&:hover {
		border: 1px solid $colorLightGray;
		color: $colorLightGray;
	}
}

.loading {
	background-color: $colorLightBlue;
	&:hover {
		background-color: $colorLightBlue;
	}
}

.blue {
	color: $colorLightBlue;
	border: 1px solid $colorLightBlue;
	&:hover {
		border: 1px solid $colorBlue;
		color: $colorBlue;
	}
}
