@import "/src/app/styles/vars";

.tabs {
	border-radius: 10px;
	border: solid 1px $colorLightGray;

	&__btn {
		font-size: $textLh14;
		color: $colorLightBlue;
		display: flex;

		button {
			width: 100%;
			min-height: 39px;
			padding: 5px 10px;
			transition: $transition;
			border-right: 1px solid $colorLightGray;
			border-bottom: 1px solid $colorLightGray;
			border-radius: 10px 0 0 0;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			&.active {
				color: $colorBlue;
				border-bottom: none;
			}

			&:last-child {
				border-right: none;
			}
			&:hover {
				color: $colorBlue;
			}
		}
	}
	&__container {
		padding: 15px 11px;
	}
}

.icon {
	margin-left: 10px;
	// margin-right: 10px;
	color: $colorLightBlue;
	transition: $transition;
	&:hover {
		color: $colorBlue;
	}
}
