@import "/src/app/styles/vars";

.level {
	// .level__items
	&__items {
		position: relative;
		border: 1px solid $colorLightGray;
		border-radius: 3px;
		width: 144px;
	}
	// .level__item
	&__title {
		margin-bottom: 5px;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	// .level__input
	&__input {
		width: 100%;
		text-align: center;
		padding-left: 15px;
	}
	// .level__btn
	&__btn {
		font-size: 20px;
		color: $colorLightGray;
	}
	// .level__options
	&__options {
		border: 1px solid $colorLightGray;
		margin: 3px 3px 0 0;
		z-index: 1;
		padding: 5px 0px;
		position: absolute;
		max-height: 150px;
		background-color: $colorWhite;
		overflow: auto;
		cursor: pointer;
		width: 100%;
		border-radius: 3px;
	}
	// .level__option
	&__option {
		transition: $transition;
		padding: 5px 5px;
		&:hover {
			background-color: $colorLightGray;
		}
	}
}
