@import "/src/app/styles/vars";

.registration {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	// .registration__container
	&__container {
		box-shadow: $blurShadow;
		border-radius: 10px;
		padding: 50px 55px 55px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .registration__icon
	&__icon {
	}
	// .registration__form
	&__form {
		min-width: 400px;
		margin-top: 50px;
	}
	// .registration__Btn
	&__btn {
		margin-bottom: 10px;
		font-size: $textLh14;
		background-color: $colorLightGreen;
		width: 100%;
		padding: 10px;
		color: $colorWhite;
		border-radius: 5px;
		transition: $transition;
		&:disabled {
			background-color: $colorGray;
			&:hover {
				background-color: $colorGray;
			}
		}
		&:hover {
			background-color: $colorGreen;
		}
	}
	// .registration__info
	&__info {
		color: $colorGray;
		font-size: $textLh14;
		& a {
			transition: $transition;
			font-weight: $textSemibold;
			&:hover {
				opacity: 0.6;
			}
		}
	}
}

.success {
	margin: 30px 0;
	font-size: $textLh14;
}

.error {
	margin-top: 20px;
	font-size: $textLh14;
	color: $colorRed;
}
