@import "/src/app/styles/vars";

.stack {
	width: 100px;
	margin-bottom: 20px;
	// .stack__items
	&__items {
		position: relative;
		border: 1px solid $colorLightGray;
		border-radius: 3px;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	// .stack__input
	&__input {
		width: 100%;
		padding-left: 5px;
		&::placeholder {
			color: $colorLightGray;
		}
	}
	// .stack__btn
	&__btn {
		font-size: 20px;
		color: $colorLightGray;
	}
	// .stack__options
	&__options {
		border: 1px solid $colorLightGray;
		z-index: 1;
		padding: 5px 0px;
		margin: 3px 3px 0 0;
		position: absolute;
		max-height: 150px;
		background-color: $colorWhite;
		overflow: auto;
		cursor: pointer;
		width: 100%;
		border-radius: 3px;
	}
	// .stack__option
	&__option {
		transition: $transition;
		padding: 5px 5px;
		&:hover {
			background-color: $colorLightGray;
		}
	}
}
