@import "/src/app/styles/vars";

.feedback {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.items {
	flex: 1 1 auto;
}
.item {
	// .item__block
	&__block {
		border: 1px solid $colorLightBlue;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .item__open
	&__open {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 15px 10px;
		justify-content: space-between;
	}
	// .item__openElem
	&__openElem {
		display: flex;
		align-items: center;
	}
	// .item__stack
	&__stack {
		margin-right: 20px;
		color: $colorGray;
	}
	// .item__title
	&__title {
	}
	// .item__rating
	&__rating {
	}
	// .item__textElem
	&__textElem {
		display: flex;
		gap: 10px 20px;
		justify-items: center;
		padding: 15px 10px;
	}
	// .item__text
	&__text {
		width: 425px;
	}
	// .item__feedback
	&__feedback {
	}
}
.footer {
	position: fixed;
	bottom: 0;
	border-top: 1px solid $colorGray;
	// .footer__subtitle
	&__subtitle {
	}
	// .footer__feedback
	&__feedback {
	}
}
