@import "/src/app/styles/vars";



.header {
	width: 100%;
	padding: 5px 0;
	margin-bottom: 25px;
	box-shadow: 0px 1px 3px 0px rgba(34, 60, 80, 0.2);

	.headerContainer {
		max-width: 1300px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.headerBlock {
			display: flex;
			align-items: center;

			.logo {
				margin-right: 74px;
			}
			.btn {
				transition: $transition;
				color: $colorWhite;
				background: $colorLightBlue;
				border-radius: 5px;
				padding: 5px 46px;
				height: 25px;
				cursor: pointer;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				&:hover {
					background: $colorBlue;
				}
			}
		}

		.user {
			display: flex;
			align-items: center;
			.userInfo {
				display: grid;
				justify-items: end;
			}
			.userName {
				font-size: $textLh14;
				font-weight: $textSemibold;
				margin-bottom: 3px;
			}
			.userMail {
				color: $colorGray;
				font-size: $textLh10;
			}
			.userImg {
				margin-left: 8px;

			}
			.userOut {
				margin-left: 8px;
				transition: $transition;
				&:hover {
					img {
						content: url('/public/assets/userOutHover.svg');
					}
				}
			}
		}
	}
}