@import "/src/app/styles/vars";

.content {
	padding: 11px;
	justify-items: center;
	border: solid 1px $colorLightGray;
	border-radius: 10px;
	height: 500px;
	overflow: auto;
}

.items {
	display: flex;
	align-items: center;
	min-height: 37px;
	border: 1px solid $colorLightGray;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 0 15px;
	justify-content: space-between;
}
.filter {
	display: flex;
	justify-content: space-between;
}
