@import "/src/app/styles/vars";

.button {
	color: $colorWhite;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	transition: $transition;
	font-size: $textLh12;
	min-height: 25px;
	min-width: 139px;
	background-color: $colorLightGreen;
	&:hover {
		background-color: $colorGreen;
	}
}
.disabled {
	cursor: not-allowed;
	background-color: $colorLightGray;
	&:hover {
		background-color: $colorLightGray;
	}
}

.loading {
	background-color: $colorLightBlue;
	&:hover {
		background-color: $colorLightBlue;
	}
}

.blue {
	background: $colorLightBlue;
	&:hover {
		background: $colorBlue;
	}
}
.fill {
	min-height: 37px;
	font-size: $textLh14;
	width: 100%;
}
