@import "/src/app/styles/vars";

.button {
	color: $colorWhite;
	font-size: $textLh12;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 6px 0;
	background-color: $colorGreen;
	transition: $transition;
	&:hover {
		background-color: $colorLightGreen;
	}
}
.disabled {
	background-color: $colorGray;
}
