@import "/src/app/styles/vars";

.header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $colorGray;
	padding: 20px 0;
	margin-bottom: 30px;
	& li {
		gap: 5px;
		display: flex;
		align-items: center;
		& span {
			color: $colorLightBlue;
			font-size: 14px;
		}
	}
}
